<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <script>
        window.setTimeout(function() {
            bytes = document.getElementById("ImageBytes").className;
            document.getElementById("ItemPreview").src = "data:image/png;base64," + bytes;
        }, 0);


        function backToMainView()
        {
            currentLocation = window.location.href.split('/');
            newLocation = currentLocation[0] + '//' + currentLocation[2] + '/' + currentLocation[3] + '/' +
                currentLocation[4] + '/' + currentLocation[7];
            window.location.replace(newLocation);
        }
    </script>
</head>
<body>
    <span id="ImageBytes" class="{{image}}"></span>
    <div id="TemperaturePlot" style="width:100%">
        <img id="ItemPreview" style="max-width:100%;max-height:100%" src="empty" />
    </div>
    <div>
        <button onclick="backToMainView()">Back to your panel</button>
    </div>
</body>


