<head>
    <style>
        #logForm{
            margin: auto;
            width: 40%;
            text-align: center;
            border: 3px solid #f1f1f1;
            padding: 20px;
            background-color: white;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        body {
            height: 100%;
            width: 100%;
            font-family: Arial, Hevetica, sans-serif;
            background-image: url("../static/healthcare-background-images-11.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }
        p{
            text-align:left;
        }
        label {
            font-weight: bold;
        }
        input {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        #mainTitle {
            color: white;
            margin: 0px;
            padding: 22px;
            background-color: #006600;
            font-size: 125%;
        }
        #remember_me{
            width: auto;
            margin: 0px;
            margin-top: 10px;
        }
        #submit {
            background-color: #006600;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        #submit:hover{
            opacity: 0.8
        }
    </style>
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
</head>
<body>
    <div id="logForm">
        <div id="mainTitle">
            <h1>Log In</h1>
        </div>
        <br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <div id="submitSection">
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </div>
        </form>
    </div>
</body>