<head>
  {% if title %}
  <title>{{ title }} - Microblog</title>
  {% else %}
  <title>Welcome to Microblog</title>
  {% endif %}
</head>
<body>
    <!--div>Microblog: <a href="/index">Home</a></div-->
    <hr>
    <h1>Register new user</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.repeat_password.label }}<br>
            {{ form.repeat_password(size=32) }}
        </p>
        <!--p>{{ form.remember_me() }} {{ form.remember_me.label }}</p-->
        <p>{{ form.submit() }}</p>
    </form>
</body>