<head>

</head>
<body>
    <!--div>Microblog: <a href="/index">Home</a></div-->
    <hr>
    <h1>Register new patient</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(size=32) }}
        </p>
        <p>
            {{ form.dni.label }}<br>
            {{ form.dni(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>