<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        function visualizeData(patientDNI)
        {
            currentLocation = window.location.href.split('/');
            newLocation = currentLocation[0] + '//' + currentLocation[2] + '/' + currentLocation[3] + '/' +
                currentLocation[4] + '/view_patient/' + patientDNI + '/' + currentLocation[5];
            window.location.replace(newLocation);
        }

    </script>
    <style type="text/css">

        table.t1 {
            margin: 1em auto;
            border-collapse: collapse;
            font-family: Arial, Helvetica, sans-serif;
            width: 70%;
        }
        .t1 th, .t1 td {
            padding: 4px 8px;
        }
        .t1 th {
            background: #006600;
            text-transform: lowercase;
            text-align: left;
            font-size: 15px;
            padding: 15px 15px;
            color: #fff;
        }
        .t1 tr {
            border-right: 1px solid #668966;
        }
        .t1 tbody tr {
            border-bottom: 1px solid #668966;
        }
        .t1 tbody tr:nth-child(odd) {
            background: #B2D6B2;
            border: 1px solid #668966;
        }
        .t1 tbody th, .t1 tbody tr:nth-child(even) td {
            border: 1px solid #668966;
        }
        .t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
            text-align: right;
        }

        button {
            width: 80%;
            align: center;
            background-color: #006600;
            color: white;
            padding: 10px 10px;
            margin: 8px 20px;
            border: none;
            cursor: pointer;
        }
        button:hover{
            opacity: 0.8
        }

        </style>

    <title>Title</title>
</head>
<body>
    <table id="patientTable" class="t1">
        <tr>
            <th>Patient Name</th>
            <th>Patient Surname</th>
            <th>DNI</th>
            <th></th>
        </tr>
        {% for n in indexList %}
            <tr>
                <td>{{nameList[n]}}</td>
                <td>{{surnameList[n]}}</td>
                <td>{{dniList[n]}}</td>
                <td>
                    <button id='ViewDataForPatient{{dniList[n]}}' onclick='visualizeData({{dniList[n]}})'>
                        View data
                    </button>
                </td>
            </tr>
        {%endfor%}
    </table>
<hr>

<div>
     <form method="post" action="">
        <input type="submit" name="submit" value="Add new patient">
     </form>
</div>
</body>
</html>